body {
    font-family: 'Raleway', sans-serif;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
  }

.title {
    text-align: center;
    color: navy;
}

.subheading {
    text-align: center;
    color: navy;
}

.d-guides {
    
    background-position: center;
    padding: 37px 25px;
    text-align: center;
    font-weight: normal;
    display: block;
    color: white;
    position: relative;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
}

.footer {
    background-color: lightgray;
}